<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Backend FastAPI</title>
  </head>
  <body>
  <strong>
    Server Is Active!
  </strong>
  <p>
  FastAPI Backend Template
  </p>
  <body>
  <p>
  you can modify it for production
  cek endpoint /docs

  what is new in version 0.0.3?
  
  add database intgration
  add user
  fixed bug

  <p>
    <a href="/docs"
    <a href="/users"
      docs
    </a>
  </p>
  </body>
</body>
</html>
